# This is a basic workflow to help you get started with Actions

name: permission_handler_apple

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
    paths:
    - 'permission_handler_apple/**'
  pull_request:
    branches: [ master ]
    paths:
    - 'permission_handler_apple/**'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    name: Format

    # The type of runner that the job will run on
    runs-on: macos-latest

    env:
      source-directory: ./permission_handler_apple
      example-directory: ./permission_handler_apple/example 

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      # Make sure the stable version of Flutter is available
      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable'

      # Download all Flutter packages
      - name: Download dependencies
        run: flutter pub get
        working-directory: ${{env.source-directory}}

      # Run Flutter Format to ensure formatting is valid
      - name: Run Flutter Format
        run: flutter format --set-exit-if-changed .
        working-directory: ${{env.source-directory}}

      # Run Flutter Analyzer
      - name: Run Flutter Analyzer
        run: flutter analyze
        working-directory: ${{env.source-directory}}

      # Build iOS version of the example App
      - name: Run Android build
        run: flutter build ios --no-codesign --release
        working-directory: ${{env.example-directory}}
        